svg[class^='icon-'] {
  display: inline-block;
}

.icon-search {
  @include sizes(26px);

  @include breakpoint('small-big') {
  	@include sizes(20px);
  }
}

.icon-aqi {
  width: 20px;
  height: 15px;
}
