.modal {
	background: get-color('base');
	height: 95vh;
	margin: 20px auto 0;
	padding: 20px;
	width: 97%;

	@include breakpoint('small-big') {
		width: 100%;
		height: 100%;
		margin: 0;
	}
}

.button-close {
	text-align: end;
	width: 100%;
}