.button {
	border-radius: 100px;
	border: 1px solid white;
	color: white;
	font-size: 0.8em;
	padding: 8px;
	transition: $transition;

	&:hover {
		background: white;	
		color: get-color('text-dark');
	}
}