.pollution-content {
	display: flex;
	margin-top: 20px;

	@include breakpoint('small-big') {
		margin-top: 10px;
	}

	&-data {
		display: flex;
		flex-direction: column;
		height: calc(100vh - 85px);
		justify-content: space-between;

		@include breakpoint('small-big') {
			height: calc(100vh - 50px);
		}
	}
}

.information {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&-date {
		font-weight: get-font('light-weight');
		font-size: get-font('small-size');

		@include breakpoint('small-big') {
			font-size: 0.8em;
		}
	}
}

.air-quality {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	margin: 0 auto;

	@include breakpoint('small') {
		display: block;
		text-align: center;
		margin: 60px auto 0;
	}

	&-aqi {
		display: flex;
		align-items: flex-end;

		@include breakpoint('small') {
			display: block;
			text-align: center;
		}

		h1 {
			font-size: 6em;
			line-height: 0.9em;

			@include breakpoint('small-big') {
				font-size: 5em;
			}
		}

		span {
			font-size: 0.7em;
			text-transform: uppercase;
			font-weight: get-font('light-weight');

			@include breakpoint('small') {
				margin-top: 6px;
				display: block;
			}
		}
	}

	&-scale {

		@include breakpoint('small') {
			margin-top: 10px;
		}

		h1 {
			font-size: 4em;
			text-transform: capitalize;

			@include breakpoint('small-big') {
				font-size: 2.2em;
			}
		}
	}
}