.pollution-img {
	&-good {
		width: 100%;
		height: 245px;
		position: relative;
    bottom: 0;
    vertical-align: bottom;

		@include breakpoint('small-dekstop') {
			height: 200px;
			 bottom: 0px;
		}

		@include breakpoint('medium') {
			height: 160px;
		}

		@include breakpoint('small-big') {
			display: none;
		}

		&-mobile {
			display: none;
			margin: 0 auto;
			width: 100%;

			@include breakpoint('small-big') {
				display: block;
				height: 240px;
			}

			@include breakpoint('small') {
				height: 180px;
			}

			@include breakpoint('small-small') {
				height: 140px;
			}
		}
	}	
}