.index-scale {
	width: 100%;
	display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
  margin: 0 auto;
}

.index-scale-card {
	padding: 20px;
	color: get-color('text');
	font-size: 0.8em;;
}



